// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar .navbar-brand
{
  color: rgba(255, 255, 255, 0.85);
  font-size: 1rem;
}


.jumbotron {
  background-image: url('ElFu.jpg');
  background-size: cover;
}
